{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
       "ecmaVersion": 6,
       "sourceType": "module",
       "ecmaFeatures": {
           "jsx": true,
           "experimentalObjectRestSpread": true,
       }
   },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/require-extension": "off",
    "react/prop-types": "off",
    "react/no-string-refs": "off",
    "react/no-multi-comp": "off",
    "arrow-body-style": "off",
    "jsx-a11y/no-noninteractive-element-interactions": 'off',
    "jsx-a11y/href-no-hash": "off",
    "react/jsx-filename-extension": "off",
    "indent": ["error", 2],
    "no-param-reassign": ["error", {"props": false}],
    "no-console": 0,
    "no-debugger": 1,
    "no-var": 1,
    "semi": 0,
    "no-trailing-spaces": 0,
    "eol-last": 0,
    "no-underscore-dangle": 0,
    "no-alert": 0,
    "no-lone-blocks": 0
  },
  "globals": {
    "_": true,
    "_jcq": true,
    "moment": true ,
    "logo": true,
    "favicon": true,
    "NProgress": true,
  },
  "plugins": ["react"],
}
